*{margin: 0;padding: 0;}
*{border-sizing: border-box;}
.window{
   width: 920px;
   height: 400px;
   margin: 20px auto;
   overflow: hidden;  
   border: 1px solid rgb(223, 218, 218);
   border-radius: 10px;
}
.images{
    display: flex;
    transition: all 1s;
}
.images>img{  
    width: 100%;   
}
#spanWrapper img{
    width:30px;
    height: 30px;
    padding: 3px 10px;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 5px;
}
#spanWrapper img:hover{
    background: rgb(37, 37, 37)
}
#controls>button{
    margin: 10px;
    padding: 3px;
    border-radius:10px;
    background: white;
    outline: none;
}
#controls>button:hover{
    background: rgb(223, 218, 218);
}